html {
  background: #decade;
  color: #a11e6e;
}

.header {
  h1  { display: inline-block; }
  nav { display: inline-block; float: right; }

  li {
    display: inline-block;
    list-style-type: none;
    margin-left: 1em;
  }

  a {
    background: #da60ba;
    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
  }
}
