@include respond-to(mobile-large) {
  body     { text-align: center; }
  .wrapper { width: 100%; }
  .search  { margin-top: 1em; }

  .header nav,
  .footer nav,
  .footer .copy,
  .search,
  .kittens li,
  .info {
    float: none;
  }

  .kittens li,
  .info {
    padding: 1em 0;
    width: 100%;
  }
}
