@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin scale($amount) {
  -webkit-transform: scale($amount);
  -moz-transform: scale($amount);
  -o-transform: scale($amount);
  -ms-transform: scale($amount);
  transform: scale($amount);
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == mobile-large {
    @media screen and (max-width: $breakpoint-small) {
      @content;
    }
  }
}
