html {
  background: #decade;
  color: #a11e6e; }

.header h1 {
  display: inline-block; }

.navigation {
  display: inline-block; }
  .navigation li {
    display: inline-block;
    list-style-type: none;
    margin-right: 1em; }
  .navigation a {
    background: #da60ba;
    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none; }
    .navigation a:hover {
      background: #d00dad; }
  .header .navigation {
    float: right; }
    .header .navigation li {
      margin-left: 1em;
      margin-right: 0; }
