html {
  background: #decade;
  color: #a11e6e;
}

body {
  margin: 0 auto;
  width: 800px;
}

.header {
  h1 {
    float: left;
  }
}

.navigation {
  li {
    display: inline-block;
    list-style-type: none;
    margin: 0 1.5em 0 0;
  }

  a {
    display: block;
    text-decoration: none;

    &:hover {
      background: #bedded;
    }
  }

  .header & {
    float: right;

    li {
      margin: 0 0 0 1.5em;
    }
  }
}

.footer {
  clear: both;
}
