@mixin block-base($background, $color, $padding: $padding-default) {
  background: $background;
  color: $color;
  padding: $padding;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

@mixin nav-border($side, $width: 4px) {
  border-#{$side}: $width solid $nav-border;
}

@mixin respond-to($breakpoint) {
  @if $breakpoint == "mobile-large" {
    @media only screen and (max-width: $break-mobile-large) {
      @content;
    }
  } @else if $breakpoint == "mobile-small" {
    @media only screen and (max-width: $break-mobile-small) {
      @content;
    }
  }
}
