.kittens {
  list-style-type: none;
  padding: 0;

  li {
    border-radius: 20px;
    float: left;
    margin-bottom: 2em;
    text-align: center;
    width: 300px;

    &:hover {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -o-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }
  }

  img {
    border: 10px solid #fff;
    border-radius: 20px;
  }

  label { font-weight: bold; }
}
