$blue:   #506f8e;
$purple: #aea4ad;
$beige:  #d9d0cb;
$tan:    #eee4da;
$white:  #ffffff;

$base-font-family: 'Didact Gothic', sans-serif;
$logo-font-family: 'Ribeye Marrow', cursive;

$border-width:  10px;
$border-radius: 20px;

$scale-amount:  1.1;


*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: $tan;
  font-family: $base-font-family;
  margin: 0;
}

a {
  color: $blue;
  &:hover { color: $purple; }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.wrapper {
  margin: 0 auto;
  width: 1200px;
}

.header {
  background: $purple;
  border-bottom: $border-width solid $white;
  padding: 1em;

  h1 {
    color: $blue;
    font-family: $logo-font-family;
    font-size: 50px;
    margin: .25em 0;
    text-shadow: 1px 1px 0px $beige;
  }

  nav {
    float: right;

    a {
      background: $blue;
      border-radius: $border-radius;
      color: $tan;
      display: block;
      margin-right: 1em;
      padding: .5em 1em;
      text-decoration: none;

      &:hover {
        -webkit-transform: scale($scale-amount);
        -moz-transform: scale($scale-amount);
        -o-transform: scale($scale-amount);
        -ms-transform: scale($scale-amount);
        transform: scale($scale-amount);
      }
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li { display: inline-block; }
}


.footer {
  background: $blue;
  border-top: $border-width solid $tan;

  nav {
    float: left;

    a {
      color: $purple;
      display: block;
      padding: 1em;

      &:hover { color: $beige; }
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li { display: inline-block; }
}

.copy {
  color: $beige;
  float: right;
  margin: 1em 0;
}


.kittens {
  list-style-type: none;
  padding: 0;

  li {
    border-radius: $border-radius;
    float: left;
    margin-bottom: 2em;
    text-align: center;
    width: 300px;

    &:hover {
      -webkit-transform: scale($scale-amount);
      -moz-transform: scale($scale-amount);
      -o-transform: scale($scale-amount);
      -ms-transform: scale($scale-amount);
      transform: scale($scale-amount);
    }
  }

  img {
    border: $border-width solid $white;
    border-radius: $border-radius;
  }

  label { font-weight: bold; }
}

.subcontent {
  background: $white;
  padding: 2em 0 3em;
}

.search { float: right; }

.info {
  float: left;
  padding-right: 4em;
  width: 40%;

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    border-bottom: 1px dotted $tan;
    margin-bottom: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
  }

  a {
    font-size: 1.25em;
    text-decoration: none;
  }

  .btn {
    color: $purple;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;

    &:hover { color: $blue; }
  }
}

.location {
  padding-right: 0;
  width: 20%;

  dt {
    color: $blue;
    font-weight: bold;
  }

  dd { margin: 0; }
}
