$blue:   #506f8e;
$purple: #aea4ad;
$beige:  #d9d0cb;
$tan:    #eee4da;
$white:  #ffffff;

$base-font-family: 'Didact Gothic', sans-serif;
$logo-font-family: 'Ribeye Marrow', cursive;

$border-width:  10px;
$border-radius: 20px;

$scale-amount:  1.1;
