.kittens {
  list-style-type: none;
  padding: 0;

  li {
    border-radius: $border-radius;
    float: left;
    margin-bottom: 2em;
    text-align: center;
    width: $kitten-width;

    &:hover { @include scale($scale-amount); }
  }

  img {
    border: $border-width solid $white;
    border-radius: $border-radius;
  }

  label { font-weight: bold; }
}
