html {
  background: $footer-background;
  font-family: $base-font-family;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
}

.content {
  background: $body-background;
  color: $body-color;
  padding: $padding-default;
}
