// Font Stacks
$base-font-family:   Tahoma, Verdana, Arial, sans-serif;
$header-font-family: "Fauna One", Palatino, Georgia, Times;
$logo-font-family:   "Lily Script One", $header-font-family;


// Descriptive Colors
$white: #f1f1f1;
$cherry: #6D0839;
$plum: #9D6673;
$pink: #FBEFF4;
$mustard: #D8C358;
$green-pale: #D0E799;
$green-dark: #25271E;


// Functional Colors
$body-background: $white;
$body-color: $green-dark;

$header-background: $cherry;
$header-color: $pink;

$footer-background: $mustard;
$footer-color: $green-pale;

$nav-background: $plum;
$nav-background-footer: $cherry;
$nav-background-hover: $green-dark;
$nav-color: $pink;


// Misc Defaults
$padding-default: 20px;
