// Font Stacks
$base-font-family:   Tahoma, Verdana, Arial, sans-serif;
$header-font-family: "Fauna One", Palatino, Georgia, Times;
$logo-font-family:   "Lily Script One", $header-font-family;


// Descriptive Colors
$white: #f1f1f1;
$cherry: #6D0839;
$cherry-dark: #520339;
$plum: #9D6673;
$pink: #FBEFF4;
$mustard: #D8C358;
$green-pale: #D0E799;
$green-dark: #25271E;
$teal: #59B390;
$tan-dark: #D3C8B4;
$tan-light: #E7E4D5;


// Functional Colors
$body-background: $white;
$body-color: $green-dark;

$header-background: $cherry;
$header-color: $pink;

$footer-background: $mustard;
$footer-color: $green-dark;

$nav-background: $plum;
$nav-background-footer: $cherry;
$nav-background-hover: $cherry-dark;
$nav-border: $cherry-dark;
$nav-color: $pink;

$btn-primary-background: $teal;
$btn-primary-color: $white;

$btn-secondary-background: $tan-dark;
$btn-secondary-color: $green-dark;

$btn-tertiary-background: $tan-light;
$btn-tertiary-color: $green-dark;


// Misc Defaults
$padding-default: 20px;
