html {
  background: $footer-background;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
}

.content {
  @include block-base($body-background, $body-color);
}
