*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #EEE4DA;
  font-family: 'Didact Gothic', sans-serif;
  margin: 0;
}

a {
  color: #506F8E;
  &:hover { color: #AEA4AD; }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.wrapper {
  margin: 0 auto;
  width: 1200px;
}

.subcontent {
  background: #fff;
  padding: 2em 0 3em;
}

.search { float: right; }

