.footer {
  background: $blue;
  border-top: $border-width solid $tan;

  nav {
    float: left;

    a {
      color: $purple;
      padding: 1em;

      &:hover { color: $beige; }
    }
  }

  ul {
    @extend .navlist--inline;
    margin: 0;
    padding: 0;
  }
}

.copy {
  color: $beige;
  float: right;
  margin: 1em 0;
}
