// Font Stacks
$base-font-family:   Tahoma, Verdana, Arial, sans-serif;
$header-font-family: "Fauna One", Palatino, Georgia, Times;
$logo-font-family:   "Lily Script One", $header-font-family;


// Descriptive Colors
$white: #f1f1f1;

$cherry: #6D0839;
$cherry-dark: darken($cherry, 10%);
$cherry-light: lighten($cherry, 75%);

$plum: #9D6673;
$plum-dark: darken(saturate($plum, 20%), 35%);
$plum-darker: darken($plum-dark, 10%);

$teal: #59B390;
$teal-dark: darken($teal, 30%);

$tan: #D3C8B4;
$tan-light: lighten($tan, 10%);

$mustard: #D8C358;


// Functional Colors
$body-background: $white;
$body-color: $teal-dark;

$header-background: $cherry;
$header-color: $cherry-light;

$footer-background: $mustard;
$footer-color: $teal-dark;

$nav-background: $plum;
$nav-background-hover: $plum-dark;
$nav-border: $plum-darker;
$nav-color: $cherry-light;

$nav-background-footer: $cherry;

$btn-primary-background: $teal;
$btn-primary-color: $white;

$btn-secondary-background: $tan;
$btn-secondary-color: $teal-dark;

$btn-tertiary-background: $tan-light;
$btn-tertiary-color: $teal-dark;


// Misc Defaults
$base-font-size: 16px;
$padding-default: 20px;

$info-organization: "Girl Develop It Detroit";
