.footer {
  @include block-base($footer-background, $footer-color);

  &:after {
    content: "Brought to you by " + $info-organization;
  }

  @include respond-to("mobile-large") {
    text-align: center;
    p,
    &:after { font-size: .75em; }
  }
}
